
#bundle(class=bundle._doc.status)

  #name= 'Bundle ' + bundle._id
    #links
      a.permalink(href='/bundle/'+bundle._id) permalink
      - if (bundle.get('status') === 'complete')
        span |
        a.download(href='/bundle/'+bundle._id+'/download') download

  #source= bundle._doc.source
    time(class="timeago",datetime=bundle.iso8601())= bundle.iso8601()

  #instructions
    - if (bundle.get('status') === 'complete')
      - var parts = bundle.get('source').split('/'), name = parts[parts.length - 1].replace(/.git$/, '');
      h2 The bundle is ready for use
      pre
        | curl -OJ https://bundler.caurea.org/bundle/#{bundle._id}/download
        | git clone #{bundle._id}.bundle #{name}
        | cd #{name}
        | git remote set-url origin #{bundle.get('source')}
        | git pull
        | rm ../#{bundle._id}.bundle
    - else if (bundle.get('status') === 'failed')
      h2 Failed to create the bundle
    - else
      h2 We are busy creating the bundle
